Button{
    -fx-font-size: 50;
    -fx-padding: 10 20 10 20;
    -fx-font-family: 'Dubai';
    -fx-background-color: #E3F0FF;
    -fx-background-radius: 10;
}

.backpane{
    -fx-background-color: linear-gradient(to right top, #307edb, #437cd8, #5179d5, #5c77d2, #6674ce);
}

.titre{
    -fx-font-size: 100;
    -fx-padding: 20 50 20 50;
    -fx-text-fill: #E3F0FF;
}

TextField{
    -fx-font-size: 30;
    -fx-padding: 10 20 10 20;
}